<form action="/login" method = "POST">
    <p>id <input type = "number" name = "id" /></p>
    <p>name <input type = "text" name = "name" /></p>
    <p>position <input type = "text" name = "position" /></p>
    <!--<p>cabinet <input type = "integer" name = "cabinet" /></p>
    <p>time <input type = "text" name = "time" /></p>
    <p>service <input type = "text" name = "service" /></p>
    <p>salary <input type = "integer" name = "salary" /></p>
    <p>contract number <input type = "integer" name = "contract_number" /></p>-->
    <p><input type = "submit" value = "Submit" /></p>
 </form>


